<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        string appName = "Coding Test";
    }
    <title>@ViewBag.Title - @appName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        @Html.ActionLink("Coding Test", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Students", "Students", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Student Courses", "StudentCourses", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Gpa Calculator", "GpaCalculator", "Home", null, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @appName</p>
        </footer>
    </div>

    <!-- Modal-->
    <div id="mdModal2" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Md Modal -->
    <div id="mdModal" class="modal" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var modal = "#mdModal";

        $('.create-js,.update-js').click(function (e) {
            e.preventDefault();
            var mtitle = $(modal).children().find(".modal-title");
            var mbody = $(modal).children().find(".modal-body");
            var url = $(this).data("action").replace('#', '');

            var btn = $(this);
            btn.prop('disabled', true);
            var BtnContent = btn.html();
            btn.html(`<i class="fas fa-circle-notch fa-spin"></i>`); 

            mtitle.text($(this).data("title"))
            $.ajax({
                url: url,
                method: 'GET'
            }).done(function (res) {
                btn.html(BtnContent);
                mbody.html(res);

                $(modal).modal();
                btn.prop('disabled', false);

            }).fail(function (jqXHR, textStatus, error) {
                btn.html(BtnContent);
                Swal.fire("Failed", "Request Failed. Try later.", "error");
                btn.prop('disabled', false);

            });

        });

    </script>
</body>
</html>
